[Unit]
Description=CamillaDSP
After=sound.target network-online.target
Wants=network-online.target
Requires=camilladsp-environment.service
After=camilladsp-environment.service

[Service]
Type=simple
User=root
#EnvironmentFile=/run/camilladsp.env
EnvironmentFile=/opt/crossover/environment
WorkingDirectory=/opt/crossover
ExecStart=/usr/local/bin/camilladsp -s /opt/crossover/camilladsp/statefile.yml -w -g-50 -o /opt/crossover/camilladsp/camilladsp.log -p 1234 -a $HOST_IP
Restart=always
RestartSec=5
LimitRTPRIO=95
LimitMEMLOCK=infinity
Slice=audio.slice

[Install]
WantedBy=audio-stack.target
