[Unit]
Description=CamillaDSP Web GUI
After=camilladsp.service network-online.target camilladsp-environment.service
Requires=camilladsp.service camilladsp-environment.service

[Service]
Type=idle
User=crossover
ExecStart=/opt/crossover/camillagui_backend/camillagui_backend
Slice=audio.slice

[Install]
WantedBy=audio-stack.target


